.news-container-main {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    width: 100%;
    height: 100%;
}

.sorting {
    grid-row: 1;
    display: flex;
    align-items: center;
    height: 100%;
}

.sorting a {
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: #dc930e;
    border-radius: 5px;

}
.news-container {
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5px;
    max-height: 600px;
}
.one-news {
    grid-row: auto;
    background-color: #404040;
    display: grid;
    grid-auto-rows: 70% 30% ;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px black;
}
.one-news-info {
    grid-row: 1;
}
.one-news-info-title {
    font-size: 28px;
    font-weight: bold;
    border-bottom: 2px solid white;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.one-news-info-category {
    color: rgba(255, 255, 255, 0.76);
    margin-left: 10px;
    margin-right: 10px;
}

.one-news-link {
    grid-row: 2;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}


.one-news-link:hover {
    background-color: #c55;
    border-radius: 0px 0px 10px 10px;
    color: white;
    font-weight: bold;
}

nav {
    grid-row: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination {
    display: flex;
    align-items: center;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}


.page-item {
    background-color: #202020;
    padding: 10px 15px 10px 15px;
    margin-left: 3px;
    margin-right: 3px;

    border-radius: 5px;
}
.page-item:hover {
    background-color: #c55;
    border-radius: 5px;
}
.page-item a {
    text-decoration: none;
    color: white;
}

.page-link a:hover {
    color: white;
    text-decoration: none;
}
.active {
    background-color: #c55;
}

